@charset "UTF-8";
/* Claros y oscuros */
/* Tamaños fuentes de texto */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&family=Rubik:wght@300;400;500;600&display=swap");
/* 
font-family: 'Poppins' 300, 400, 600, 700, 800
font-family: 'Rubik' 300, 400, 500, 600 
*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #0a021c;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

strong {
  font-weight: 800;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::-moz-placeholder {
  font: inherit;
}

input::placeholder {
  font: inherit;
}

h1, h2, h3, h4 {
  font-family: "Poppins";
}

h1 {
  font-size: calc(1.3em + 1vw);
  font-weight: 800;
  line-height: 1;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.2em;
  font-weight: 700;
}

h4 {
  font-size: 1em;
  font-weight: 600;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  border-radius: 0;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px white;
}
.header_logo {
  padding: 16px 38px;
  border: 1px solid #000;
  border-radius: 0;
  background: #e0e0e0;
  box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px white;
}
.header_ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.header_a {
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 40px;
}
.header_a:hover {
  background-color: #f2f3f5;
  color: violet;
  transform: scale(1.3);
}