/* .navbar .navbar-brand {
    font-weight: 500;
} */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Rubik';
}

/* Navegación */
.navbar {
    background-color: #eff6f6;
}
.navbar-brand:hover {
    text-decoration: underline #dd8ef8 3px;
    color: #dd8ef8;
}

.navbar .nav-item {
    margin-left: 0px;
}
.navbar .nav-link {
    color: rgb(24, 27, 26);
    font-size: 1.2rem;
    align-items: center;
}
.navbar .nav-link:hover, 
.navbar .dropdown-item:hover{
    color: #dd8ef8;
    text-decoration: underline #dd8ef8;
}

.btn {
    background-color: #d9eded;
}
.navbar form .btn:hover {
    background-color: #dd8ef8;
}

/* Carrusel */
.carousel-caption {
    position: absolute;
    top: 240px;
    left: 200px;
    width: 700px;

}
.carousel-caption .display-3 {
    color: #de8ef8c4;
    line-height: 1;
    border-radius: 0px 32px 32px 0;
    text-shadow: 0 0 5px black;
}
.carousel-caption .text-color {
    border-radius: 32px;
    text-shadow: 0 0 10px black;
    margin-left: 48px;
    color: #edeef0;
    text-align: left;
    width: 50%;
}
.carousel-caption .text-color b {
    color: #20d6d6;
}

/* main */
.cards {
    display: flex;
    gap: 5px;
}

.card {
    background-image: url(../assets/robot.avif);
    background-size: cover;
    height: auto;
    max-width: 380px;
    color:#dd8ef8 ;
    text-shadow: 1px 1px 1px black;
    /* margin-left: 6px; */
    
}
.card .card-item {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #d5a5e4;
}
.card p {
    color: #dd8ef8;
}
.card .icon-link {
    color: rgb(228, 235, 242);
    position: relative;
    bottom: 0;
}
.card .icon-link:hover {
    color: #dd8ef8;
}

.bg-color {
    color:#444;
}

/* Small devices (landscape phones, 576px and up
@media (min-width: 1400px) { }