// ------- Variables ----------

/* Claros y oscuros */
$white-color: #ffffff;
$light-bg-color: #f2f3f5;
$light-text-color: #7c899a;
$border-color: #e5e8ec;
$dark-color: #0a021c;

/* Tamaños fuentes de texto */
$font-small: 13px;
$font-smaller: 11px;


// Mixins

@mixin mixflex($dis, $direct, $corte, $just, $align) {
  display: $dis;
  flex-flow: $direct $corte;
  justify-content: $just;
  align-items: $align;
}

@mixin neom($borde, $eje) {
  border-radius: $borde;
  background: #faf8f8;
  box-shadow: $eje $eje (
    $eje*2) #bebebe,
    (-$eje) (-$eje) ($eje*2) #ffff;
}

@mixin back-img($url) {
  background: url($url),
    linear-gradient(to bottom right, rgba(29, 5, 30, 0.122), rgba(111, 55, 164, 1)
  );
background-size: contain;
}

@mixin minmovil($medida: 480px) {
  @media screen and (max-width: $medida) {
    @content;
  }
}

@mixin mingrid($column, $espacio) {
  display: grid;
  grid-template-columns: $column auto;
  gap: $espacio;

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr;
    gap: 0em;
  }
}