.navbar {
    @include neom(0, 20px);
    .navbar-nav {
        display: flex;
        gap: 10px;
        .nav-item {
            border-radius: 30px;
            padding: 0 20px;
            .nav-link {
                font-size: 1.2rem;
                border-radius: 30px;
                &:hover, &.activo {
                    background-color: rgb(234, 237, 240);
                    color: #821acc;
                }
            }
        }
    }
}

